{
    "name": "AudioKit",
    "version": "__AK_VERSION__",
    "authors": {
        "Aurelius Prochazka": "audiokit@audiokit.io"
    },
    "license": {
        "type": "MIT"
    },
    "homepage": "http://audiokit.io/",
    "social_media_url": "https://twitter.com/AudioKitMan",
    "documentation_url": "http://audiokit.io/docs/",
    "static_framework": true,
    "source": {
        "http": "__AK_SOURCE__"
    },
    "summary": "Open-source audio synthesis, processing, & analysis platform.",
    "platforms": {
        "osx": "10.15",
        "ios": "12.0",
        "tvos": "12.0"
    },
    "swift_version": "5.0",
    "cocoapods_version": ">= 1.9.0",
    "frameworks": [
	    "AVFoundation"
    ],
    "libraries": [
        "c++"
    ],
    "user_target_xcconfig": {
        "ALWAYS_EMBED_SWIFT_STANDARD_LIBRARIES": "YES",
        "LIBRARY_SEARCH_PATHS": "$(TOOLCHAIN_DIR)/usr/lib/swift/$(PLATFORM_NAME)"
    },
    "subspecs": [
        {
            "name": "Core",
            "dependencies": { "AudioKit/C" : [] },
            "vendored_frameworks": "AudioKit.xcframework"
        },
        {
            "name": "C",
            "dependencies": {
                "AudioKit/STK" : [],
                "AudioKit/CircularBuffer" : [],
                "AudioKit/Sporth" : [],
                "AudioKit/Soundpipe" : []
             },
            "vendored_frameworks": "CAudioKit.xcframework"
        },
        {
            "name": "STK",
            "vendored_frameworks": "STK.xcframework"
        },
        {
            "name": "CircularBuffer",
            "vendored_frameworks": "TPCircularBuffer.xcframework"
        },
        {
            "name": "Soundpipe",
            "vendored_frameworks": "soundpipe.xcframework"
        },
        {
            "name": "Sporth",
            "dependencies": { "AudioKit/Soundpipe" : [] },
            "vendored_frameworks": "sporth.xcframework"
        }
    ]
}
