// Xcode settings for building frameworks suitable for distribution
// Simulator slices do not need Bitcode - this Travis variant only builds for the current arch

ENABLE_BITCODE = NO
//IPHONEOS_DEPLOYMENT_TARGET = 9.0
ARCHS = x86_64
ONLY_ACTIVE_ARCH = YES
CODE_SIGNING_REQUIRED = NO
CODE_SIGN_IDENTITY = 
