# xcode noise
build/
DerivedData/
*.pyc
*~.nib/
*.pbxuser
*.perspective
*.perspectivev3
*.xcuserstate
*.xccheckout
*.xctimeline
*.o
*.log
*.xcframework
project.xcworkspace/
xcuserdata/
xcodebuild

Playgrounds/**/*.framework
Playgrounds/iOS/
# Cocoapods
Pods/
Podfile.lock
*.podspec.json

# osx noise
.DS_Store
profile

junk/
docs/

output/
dev/

Dev.playground

# During Development
AudioUnits

# JUCE related
Builds/
JuceLibraryCode/

# Style Checking 
SwiftStyleSettings.plist
/Frameworks/distribute_built_frameworks.sh
