# xcode noise
build/
DerivedData/
*.pyc
*~.nib/
*.pbxuser
*.perspective
*.perspectivev3
*.xcuserstate
*.xccheckout
*.xctimeline
project.xcworkspace/
xcuserdata/
xcodebuild

Playgrounds/**/*.framework
Playgrounds/iOS/
# Cocoapods
Pods/
Podfile.lock

# osx noise
.DS_Store
profile

junk/
docs/

output/
dev/

