
// Generate Xcode project with:
// swift package generate-xcodeproj --xcconfig-overrides AudioKit.xcconfig
HEADER_SEARCH_PATHS = $(SRCROOT)/Sources/CAudioKit/**
// This should allow to build Catalyst
SDKROOT = iphoneos
MACH_O_TYPE = staticlib
DEFINES_MODULE = YES
APPLY_RULES_IN_COPY_HEADERS = YES
BUILD_LIBRARY_FOR_DISTRIBUTION = YES

// Why aren't these picked up automatically in the generated project?
COCOA_IS_CATALYST_YES = -framework UIKit
COCOA_IS_CATALYST_NO = -framework Cocoa
OTHER_LDFLAGS[sdk=iphone*] = -framework AudioToolbox -framework AVFoundation -framework Accelerate -framework CoreAudio -framework CoreGraphics -framework QuartzCore -framework UIKit
OTHER_LDFLAGS[sdk=macosx*] = -framework AudioToolbox -framework AVFoundation -framework Accelerate -framework CoreAudio -framework CoreGraphics -framework QuartzCore $(COCOA_IS_CATALYST_$(IS_MACCATALYST))
