<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>AKChowningReverb</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>XPC!</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>LSMinimumSystemVersion</key>
	<string>$(MACOSX_DEPLOYMENT_TARGET)</string>
	<key>NSExtension</key>
	<dict>
		<key>NSExtensionAttributes</key>
		<dict>
			<key>AudioComponents</key>
			<array>
				<dict>
					<key>description</key>
					<string>AKChowningReverb</string>
					<key>factoryFunction</key>
					<string>$(PRODUCT_MODULE_NAME).AKChowningReverbViewController</string>
					<key>manufacturer</key>
					<string>AuKt</string>
					<key>name</key>
					<string>AudioKit: Chowning Reverb</string>
					<key>sandboxSafe</key>
					<true/>
					<key>subtype</key>
					<string>jcrv</string>
					<key>tags</key>
					<array>
						<string>Effects</string>
					</array>
					<key>type</key>
					<string>aufx</string>
					<key>version</key>
					<integer>67072</integer>
				</dict>
			</array>
		</dict>
		<key>NSExtensionPointIdentifier</key>
		<string>com.apple.AudioUnit</string>
		<key>NSExtensionPrincipalClass</key>
		<string>$(PRODUCT_MODULE_NAME).AKChowningReverbViewController</string>
	</dict>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright © 2017 AudioKit. All rights reserved.</string>
</dict>
</plist>
