<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AudioComponents</key>
	<array>
		<dict>
			<key>description</key>
			<string>AKSampler AUv2</string>
			<key>factoryFunction</key>
			<string>AKSampler_PluginFactory</string>
			<key>manufacturer</key>
			<string>AKit</string>
			<key>name</key>
			<string>AudioKit: AKSampler</string>
			<key>sandboxSafe</key>
			<true/>
			<key>subtype</key>
			<string>aksp</string>
			<key>tags</key>
			<array>
				<string>Synthesizer</string>
			</array>
			<key>type</key>
			<string>aumu</string>
			<key>version</key>
			<integer>65536</integer>
		</dict>
	</array>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>AKSampler</string>
	<key>CFBundleIconFile</key>
	<string></string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>AKSampler</string>
	<key>CFBundlePackageType</key>
	<string>BNDL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>1.0</string>
	<key>CSResourcesFileMapped</key>
	<true/>
</dict>
</plist>
