# GitHub Actions for AudioKit: includes builds, tests and docs
name: CI

on: [push, pull_request]
env:
  XCODE_VER: latest-stable

jobs:
  test:
    strategy:
      matrix:
        xcode_version: ['13.1']
    runs-on: macos-12
    env:
      DEVELOPER_DIR: /Applications/Xcode_${{ matrix.xcode_version }}.app
    steps:
      - name: Check out AudioKit
        uses: actions/checkout@v2
      - name: Build AudioKit
        run: |
          set -euo pipefail
          swift package clean
          swift build --sanitize="address"
      - name: Run Tests (ASAN)
        run: |
          set -euo pipefail
          xcodebuild -destination 'platform=OS X,arch=x86_64' -scheme AudioKit -enableAddressSanitizer YES test

  # Generate Wiki docs on release
  docs:
    needs: test
    if: startsWith(github.ref, 'refs/tags/')
    runs-on: ubuntu-latest
    steps:
      - name: Check out AudioKit
        uses: actions/checkout@v2
      - name: Generate Documentation
        uses: SwiftDocOrg/swift-doc@master
        with:
          inputs: "Sources"
          module-name: AudioKit
          output: "Documentation"
      - name: Upload Documentation to Wiki
        uses: SwiftDocOrg/github-wiki-publish-action@v1
        with:
          path: "Documentation"
        env:
          GH_PERSONAL_ACCESS_TOKEN: ${{ secrets.GH_PERSONAL_ACCESS_TOKEN }}

